<p>Please refrain from making a large number of requests within a short timeframe.</p>
<p>Any further clicking will extend the period of suspended access.</p>
<p>After a while, your access may be restored.</p>
<p>For now, you are in the dog house.</p>

<%= link_to 'People', people_path %>
